.wrapper {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: $breakpoint-large) {
        flex-direction: column;
        gap: 24px;
    }
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 1;
}

.postDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 2;

    @media (max-width: $breakpoint-large) {
        gap: 8px;
    }
}

.categoryLink {
    color: $purple;
}
