.wrapper {
    width: 80%;
    margin-top: -300px;
    margin-left: 112px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    @media (max-width: $breakpoint-large) {
        margin: 0px;
        position: relative;
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }
}

.block {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 64px;
    background-color: $white;

    @media (max-width: $breakpoint-large) {
        padding: 16px 32px;
    }
}

.text {
    padding: 32px;
}
