$white: #FFF;
$black: #232536;
$yellow: #FFD050;
$yellowHover: #EDC14A;
$purple: #592EA9;
$darkGray: #4C4C4C;
$mediumGray: #6D6E76;
$lightGray: #F4F4F4;
$lavender: #F4F0F8;
$lightYellow: #FBF6EA;
$gray: #9497A1;

$senFont: var(--sen-font);

$transitionSetup: all 0.3s;

$subscribeBlockBackgroundColor: rgba(255, 255, 255, .05);
$mapWrapperBackgroundColor: #EFE9E1;
$categoryCardBorderColor: rgba(110, 111, 119, 0.3);
$featuredCardBorderColor: rgba(110, 111, 119, 0.1);
$categorySelectBorderColor: #C1C1C3;
$heroGradientColor: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-large: 1280px;
$breakpoint-extra-large: 1536px;
$mapHeight: 400px;

